.purchases {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 72px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 15px 20px 15px 80px;
  border-left-width: 6px;
  border-color: #47bf0e;
  border-left-style: solid;
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #333;
  max-width: calc(100% - 20px);
  background-color: #fff;
  background-position: 15px center;
  background-size: 48px 36px;
  background-repeat: no-repeat;
  z-index: 9999999;
  background-image: url("data:image/svg+xml;utf8,<svg width='48' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M47.208 28.263a3.393 3.393 0 00-.855-.728 4.918 4.918 0 00.764-2.636V5.429c0-2.735-2.232-4.96-4.975-4.96H5.858C3.115.469.883 2.694.883 5.429V24.9c0 .968.28 1.872.764 2.636a3.39 3.39 0 00-.855.728 3.363 3.363 0 00-.74 2.76l.295 1.657a3.38 3.38 0 003.336 2.789h40.635a3.38 3.38 0 003.335-2.789l.295-1.658a3.364 3.364 0 00-.74-2.76zM3.696 5.429c0-1.189.97-2.156 2.162-2.156h36.284c1.192 0 2.162.967 2.162 2.156V24.9c0 1.19-.97 2.156-2.163 2.156H5.86A2.162 2.162 0 013.696 24.9V5.429zm41.482 25.104l-.294 1.658a.574.574 0 01-.567.474H3.683a.574.574 0 01-.567-.474l-.294-1.658a.565.565 0 01.125-.468.568.568 0 01.44-.206h41.225c.234 0 .376.129.44.206.065.076.167.239.126.468z' fill='%2347BF0E'/><path d='M8.153 8.82l.674.161L10 16.176l-.516 4.298a1.4 1.4 0 00.345 1.097c.267.3.65.471 1.052.471h11.263c.777 0 1.407-.627 1.407-1.402 0-.774-.63-1.402-1.407-1.402h-9.679l.206-1.714h8.938c.598 0 1.13-.378 1.328-.94l1.677-4.79a1.398 1.398 0 00-.152-1.23 1.407 1.407 0 00-1.072-.63l-11.7-.866-.237-1.458a1.403 1.403 0 00-1.06-1.139l-1.586-.378a1.402 1.402 0 10-.654 2.727zm13.202 3.775l-.744 2.125h-7.998l-.458-2.806 9.2.68zM22.827 24.25c0 .735-.597 1.331-1.335 1.331a1.333 1.333 0 01-1.335-1.33c0-.736.598-1.331 1.335-1.331.738 0 1.335.595 1.335 1.33zM12.786 24.25c0 .735-.598 1.331-1.335 1.331a1.333 1.333 0 01-1.335-1.33c0-.736.598-1.331 1.335-1.331s1.335.595 1.335 1.33zM29.82 10.482l-.02.03a1.714 1.714 0 00-.047.08l-.017.031c-.015.03-.03.062-.043.094l-.016.038a1.67 1.67 0 00-.035.102l-.009.03a1.52 1.52 0 00-.022.09l-.006.03a1.33 1.33 0 00-.016.113l-.002.026a1.384 1.384 0 00-.006.11v.011c0 .04.002.079.006.118a1.327 1.327 0 00.02.15l1.422 7.362a1.406 1.406 0 002.762-.53l-.556-2.879 5.29 5.275c.275.274.635.411.995.411a1.403 1.403 0 00.994-2.394l-5.29-5.275 2.887.555a1.402 1.402 0 10.532-2.753l-7.385-1.419a1.427 1.427 0 00-.268-.026h-.012c-.037 0-.074.003-.11.006l-.026.002c-.038.004-.076.01-.114.016l-.028.006a1.764 1.764 0 00-.094.023l-.027.008a1.509 1.509 0 00-.238.096l-.026.014a1.165 1.165 0 00-.084.05 1.277 1.277 0 00-.123.087l-.02.017a1.413 1.413 0 00-.268.295z' fill='%2347BF0E'/></svg>");
}

@media (min-width: 768px) {
  .purchases {
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    max-width: 390px;
    left: 70px;
    bottom: initial;
    top: 15px
  }
}
.purchases__people {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 72px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 15px 20px 15px 80px;
  border-left-width: 6px;
  border-color: #00AEF9;
  border-left-style: solid;
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #333;
  max-width: calc(100% - 20px);
  background-color: #fff;
  background-position: 15px center;
  background-size: 48px 42px;
  background-repeat: no-repeat;
  z-index: 9999999;
  background-image: url('../../img/004-customer.png');
}

@media (min-width: 768px) {
  .purchases__people {
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    max-width: 390px;
    left: 70px;
    bottom: initial;
    top: 15px
  }
}
.purchases__post {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 72px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 15px 20px 15px 80px;
  border-left-width: 6px;
  border-color: #F99500;
  border-left-style: solid;
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #333;
  max-width: calc(100% - 20px);
  background-color: #fff;
  background-position: 15px center;
  background-size: 50px 30px;
  background-repeat: no-repeat;
  z-index: 9999999;
  background-image: url('../../img/002-box.png');
}

@media (min-width: 768px) {
  .purchases__post {
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    max-width: 390px;
    left: 70px;
    bottom: initial;
    top: 15px
  }
}
.purchases__sail {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 72px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 15px 20px 15px 80px;
  border-left-width: 6px;
  border-color: #D23B3B;
  border-left-style: solid;
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #333;
  max-width: calc(100% - 20px);
  background-color: #fff;
  background-position: 15px center;
  background-size: 46px 43px;
  background-repeat: no-repeat;
  z-index: 9999999;
  background-image: url('../../img/003-coupon.png');
}

@media (min-width: 768px) {
  .purchases__sail {
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    max-width: 390px;
    left: 70px;
    bottom: initial;
    top: 15px
  }
}
.purchases__call {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 72px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 15px 20px 15px 80px;
  border-left-width: 6px;
  border-color: #9076DB;
  border-left-style: solid;
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #333;
  max-width: calc(100% - 20px);
  background-color: #fff;
  background-position: 15px center;
  background-size: 43px 48px;
  background-repeat: no-repeat;
  z-index: 9999999;
  background-image: url('../../img/001-headset.png');
}

@media (min-width: 768px) {
  .purchases__call {
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    max-width: 390px;
    left: 70px;
    bottom: initial;
    top: 15px
  }
}

.red {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
@media (min-width: 768px) {

.red {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
}

.purchases--online {
  border-color: #00aef9;
  background-size: 48px 42px;
  background-image: url("data:image/svg+xml;utf8,<svg width='48' height='42' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M24 16.386c4.497 0 8.156-3.676 8.156-8.193C32.156 3.675 28.497 0 24 0c-4.497 0-8.156 3.675-8.156 8.193 0 4.517 3.659 8.193 8.156 8.193zm0-13.56c2.947 0 5.344 2.407 5.344 5.367S26.946 13.56 24 13.56c-2.947 0-5.344-2.407-5.344-5.367S21.053 2.825 24 2.825zM40.5 16.386c2.843 0 5.156-2.324 5.156-5.18s-2.313-5.18-5.156-5.18c-2.843 0-5.156 2.324-5.156 5.18s2.313 5.18 5.156 5.18zm0-7.534a2.352 2.352 0 012.344 2.354A2.352 2.352 0 0140.5 13.56a2.352 2.352 0 01-2.344-2.354A2.352 2.352 0 0140.5 8.852zM41.634 19.587H39.46a6.374 6.374 0 00-5.783 3.706 11.295 11.295 0 00-8.366-3.706h-2.62c-3.308 0-6.29 1.43-8.366 3.706a6.374 6.374 0 00-5.783-3.706H6.366C2.856 19.587 0 22.44 0 25.943v10.284a2.761 2.761 0 002.757 2.76h8.6A3.293 3.293 0 0014.627 42h18.746a3.293 3.293 0 003.27-3.014h8.501A2.86 2.86 0 0048 36.13V25.943c0-3.505-2.856-6.356-6.366-6.356zM2.812 25.943c0-1.947 1.594-3.53 3.554-3.53H8.54c1.959 0 3.553 1.583 3.553 3.53v.967c-.946 2.474-.75 3.956-.75 9.251H2.812V25.943zm31.032 12.76c0 .26-.211.472-.471.472H14.627a.472.472 0 01-.47-.473v-7.718c0-4.726 3.827-8.571 8.532-8.571h2.621c4.706 0 8.534 3.845 8.534 8.571v7.718zm11.343-2.574c0 .05.525.032-8.53.032 0-5.334.193-6.782-.75-9.25v-.968c0-1.947 1.593-3.53 3.552-3.53h2.175c1.96 0 3.553 1.583 3.553 3.53v10.186zM7.5 16.386c2.843 0 5.156-2.324 5.156-5.18s-2.313-5.18-5.156-5.18c-2.843 0-5.156 2.324-5.156 5.18s2.313 5.18 5.156 5.18zm0-7.534a2.352 2.352 0 012.344 2.354A2.352 2.352 0 017.5 13.56a2.352 2.352 0 01-2.344-2.354A2.352 2.352 0 017.5 8.852z' fill='%2300AEF9'/></svg>")
}

.purchases--stock {
  border-color: #d23b3b;
  background-size: 46px 43px;
  background-image: url("data:image/svg+xml;utf8,<svg width='46' height='43' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M16.629 8.813a1.347 1.347 0 102.642-.527 1.346 1.346 0 10-2.642.527z' fill='%23D23B3B'/><path d='M45.662 27.658c-7.333-21.37-6.829-19.907-6.86-19.98a6.887 6.887 0 00-4.065-3.772C34.476 3.816 19.715.36 19.289.211c-1.308-.453-3.126-.199-4.402.976L2.237 12.84A6.968 6.968 0 000 17.954V38.59C0 41.022 1.966 43 4.382 43h27.062c2.416 0 4.381-1.978 4.381-4.41v-1.995l7.543-3.232c2.194-.95 3.214-3.5 2.294-5.705zM31.444 40.3H4.382c-.93 0-1.687-.767-1.687-1.711V17.954c0-1.188.499-2.328 1.368-3.128C14.9 4.843 8.2 11.069 16.755 3.172a1.708 1.708 0 011.673-.392c.546.163-.418-.623 13.335 12.046.869.8 1.367 1.94 1.367 3.128V38.59c0 .944-.757 1.711-1.686 1.711zm10.859-9.416l-6.478 2.775V17.955a6.968 6.968 0 00-2.237-5.115l-9.42-8.678 9.748 2.316a4.186 4.186 0 012.392 2.227c7.32 21.33 6.826 19.898 6.858 19.972a1.68 1.68 0 01-.863 2.208z' fill='%23D23B3B'/><path d='M21.739 16.67a1.347 1.347 0 00-1.764.722l-6.561 15.655a1.348 1.348 0 102.486 1.044l6.56-15.655a1.35 1.35 0 00-.721-1.766zM15.423 20.558c0-2.604-1.905-4.723-4.247-4.723-2.341 0-4.246 2.119-4.246 4.723 0 2.604 1.905 4.723 4.246 4.723 2.342 0 4.247-2.119 4.247-4.723zm-4.247 2.024c-.84 0-1.55-.927-1.55-2.024s.71-2.024 1.55-2.024c.841 0 1.552.927 1.552 2.024s-.71 2.024-1.552 2.024zM24.775 26.539c-2.342 0-4.247 2.118-4.247 4.722 0 2.604 1.905 4.723 4.247 4.723 2.342 0 4.247-2.119 4.247-4.723 0-2.604-1.905-4.722-4.247-4.722zm0 6.746c-.84 0-1.551-.926-1.551-2.024 0-1.097.71-2.024 1.551-2.024s1.551.927 1.551 2.024c0 1.098-.71 2.024-1.551 2.024z' fill='%23D23B3B'/></svg>")
}

.purchases--delivery {
  border-color: #9076db;
  background-size: 43px 48px;
  background-image: url("data:image/svg+xml;utf8,<svg width='43' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M43 26.25c0-4.168-2.857-7.675-6.701-8.642v-2.657C36.299 6.707 29.649 0 21.477 0 13.304 0 6.655 6.707 6.655 14.951v2.669C2.834 18.603 0 22.1 0 26.25c0 4.91 3.967 8.906 8.842 8.906h2.978c.771 0 1.396-.63 1.396-1.406v-15c0-.777-.625-1.406-1.396-1.406H9.447V14.95c0-6.693 5.397-12.139 12.03-12.139 6.633 0 12.03 5.446 12.03 12.139v2.393H31.18c-.771 0-1.396.63-1.396 1.406v15c0 .777.625 1.406 1.396 1.406h2.327v2.127c0 2.627-2.122 4.764-4.73 4.764h-1.659c-.598-1.718-2.222-2.953-4.129-2.953h-2.978c-2.453 0-4.375 1.976-4.375 4.5 0 2.43 1.963 4.406 4.375 4.406h2.978c1.99 0 3.631-1.302 4.179-3.14h1.61c4.147 0 7.52-3.4 7.52-7.577v-2.391C40.144 33.925 43 30.418 43 26.25zm-32.576 6.094H8.842c-3.336 0-6.05-2.734-6.05-6.094 0-3.36 2.714-6.094 6.05-6.094h1.582v12.188zM22.99 45.187h-2.978a1.59 1.59 0 01-1.582-1.593c0-1.108.796-1.688 1.582-1.688h2.978a1.59 1.59 0 011.582 1.594c0 1.108-.796 1.688-1.582 1.688zm11.169-12.843h-1.582V20.156h1.582c3.336 0 6.05 2.734 6.05 6.094 0 3.36-2.714 6.094-6.05 6.094z' fill='%239076DB'/></svg>")
}
